
/* registerHotel.css */

.register-card {
  background: rgba(240, 240, 240, 0.8);
  border-radius: 1.5rem;
  padding: 2rem;
  width: 100%;
  max-width: 500px;
  margin: 2rem auto;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.08);
  text-align: center;
  backdrop-filter: blur(10px);
}

.manage-account{
  background-color: #f3f4f6;
  padding: 2rem;
  border-radius: 1.5rem;
  width: 100%;
  max-width: 500px;
  margin: 2rem auto;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  
}

.register-card h2 {
  font-size: 1.8rem;
  font-weight: bold;
  margin-bottom: 1.5rem;
}

.register-box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  width: 120px;
  background: black;
  color: white;
  font-size: 2rem;
  border-radius: 1rem;
  margin: 0 auto 2rem;
}



.register-button {
  background-color: black;
  color: white;
  padding: 0.75rem 1.5rem;
  border-radius: 9999px;
  font-size: 1rem;
  font-weight: 500;
  border: none;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.register-button:hover {
  background-color: #1a1a1a;
  transform: translateY(-2px);
}

.btn-icon {
  font-size: 1.2rem;
}
.welcome-section {
  max-width: 1500px;
  margin:  0 0 auto;
  padding: 0 2rem; 
}

.dashboard-container {
  min-height: 100vh;
  background: url('/src/assets/sanctuary.jpg') no-repeat center center fixed;
  color: rgb(0, 0, 0);
  font-family: sans-serif;
}

.dashboard-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem;
}
.user-info {
  border: 2px solid black;
  padding: 0.25rem 1rem;
  border-radius: 9999px;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.dashboard-main {
  background-color: white;
  color: black;
  padding: 2rem 6rem;
    min-height: 32.999rem;
  border-top-left-radius: 1.5rem;
  border-top-right-radius: 1.5rem;
  border-bottom-right-radius: 1.5rem;
  border-bottom-left-radius: 1.5rem;
  margin: 4rem;
}

.welcome-title {
  font-size: 1.875rem;
  font-weight: bold;
  margin-bottom: 2rem;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 1.5rem;
  padding: 1rem;
   
}
